body {
    font-family: Arial, sans-serif;
    background-color: #928888;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}


/*######################### F O N D O S   C O L O R E S ######################### */

body.filtro-superheroes {

}


/*######################### H E A D E R ######################### */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1a1919;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
    z-index: 1000;
    transition: padding 0.3s ease, height 0.3s ease;
}

h1 {
    margin: 0;
    font-size: 1.6em;
    height: 30px;
    overflow: hidden;
    transition: height 0.3s ease;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    position: relative;
    margin-right: 20px;
}

nav a {
    display: block;
    padding: 5px 10px;
    text-decoration: none;
    color: #e7e7d8;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #e9e2e2;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #080808;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}

header.scrolled {
    padding: 10px 0;
}

header.scrolled h1 {
    height: 0;
}



/*######################### S E P A R A D O R ######################### */





/*######################### C O N T A C T O  ######################### */
.section-instagram {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
}

.tarjeta-instagram {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 0 auto;
}

.tarjeta-instagram img {
    border-radius: 50%;
    max-width: 100%;
    height: auto;
}

.tarjeta-instagram h2 {
    color: #333;
}

p {
    color: #555555;
}

/*######################### S E C C I O N E S ######################### */



section {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;



}

.section-menu-lateral{
    margin-left: 80px;

}

.libro {
    position: relative;
    background-color: #333;
    border: 1px solid #494444;
    color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 25px;
    padding: 3px;
    width: 250px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

.libro:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.libro img {
    max-width: 100%;
    height: auto;
    margin-bottom: 5px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.76);
    border-radius: 5px;
}

.libro .info {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.863);
    color: #ffffff;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}

.libro:hover .info {
    opacity: 1;
}

.libro h2 {
    text-align: center;

    font-weight: normal;
    margin: 0;
    font-size: 1.2em;
}

.libro p {
        text-align: center;
        margin: 0px 0;
        font-weight: bold;
        font-size: 1.2em;


}

.libro button {
    background-color: #32a536;
    color: #fff;
    border: none;
    margin: 30px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    transition: font-size 0.3s ease;

}

.libro button:hover {
    background-color: #1c8f22;
    font-size: 21px;

}


/*######################### M E N U   L A T E R A L ######################### */

.color-invertido {
    -webkit-filter: invert(1);
    filter: invert(1);
    padding-right: 10px;
}
.filtro-inline {
    display: flex;
}

.menu-lateral {
    position: fixed;
    top: 0;
    left: -200px; /* Oculta el menú lateral inicialmente */
    width: 200px;
    height: 100%;
    background-color: #333;
    color: #fff;
    transition: left 0.3s ease;
    z-index: 999;
    padding: 20px;
    padding-top: 60px;
}

.menu-lateral img {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
    cursor: pointer;
}

.filtro-menu {
    display: none;
}

.menu-lateral:hover {
    left: 0;
}

.menu-lateral:hover .filtro-menu {
    display: block;
}

/* Estiliza los checkbox según tu diseño */
label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

/* Estiliza el icono según tu diseño */
.filtro-menu img {
    width: 20px;
    height: 20px;
}




/*######################### F O O T E R ######################### */
main {
    flex: 1;
    max-width: 100%; /* Ajusta según sea necesario */
    overflow-y: auto; /* Agrega barra de desplazamiento vertical si el contenido es más grande que la ventana */
    margin-top: 25px;
}


footer {
    background-color: #1a1919;
    color: #fff;
    text-align: center;
    padding: 1em;
    z-index: 998;
}
footer p{
    font-size: 1.5em;
    color: aliceblue;
}
